
  <table class="table table-striped table-responsive my-4">
    <tr>
      <th>Email address</th>
      <td>{{ user.email }}</td>
    </tr>

    {% if not customer %}
       <tr>
        <td colspan="2" class="text-warning">Customer not created for this user</td>
      </tr>
    {% else %}
      <tr>
        <th>Company</th>
        <td>{{ customer.company }}</td>
      </tr>
      <tr>
        <th>Phone Number</th>
        <td>{{ customer.phone_number }}</td>
      </tr>
      <tr>
        <th>Date of Birth</th>
        <td>{{ customer.date_of_birth }}</td>
      </tr>
      <tr>
        <th>Gender</th>
        <td>{{ customer.gender }}</td>
      </tr>
    {% endif %}
  </table>
