{% for category in categories %}
<div class="col-md-6 col-lg-6 mb-4 mb-lg-0 mt-4">
  <div class="card">
    <div class="d-flex justify-content-center align-content-center flex-wrap p-3" style="height: 60px">
      <p class="lead mb-0">{{ category.name }}</p>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-center align-content-center text-center mb-2 small"
           style="line-height: 50px">
        <p class="text-muted mb-0">{{ category.description }}</p>
      </div>
    </div>
  </div>
</div>
{% if forloop.last and has_next_page %}
  <div
      style="width: 0%; padding: 0"
      hx-trigger="revealed"
      hx-get="{% url 'category' %}?page={{ page_obj.next_page_number }}"
      hx-swap="afterend"
  >
  </div>
{% endif %}
{% endfor %}