{% extends "base/index.html" %}

{% block content %}
<main class="flex-shrink-0 my-auto d-flex justify-content-center">
  <div style="margin-top: 60px;" class="container-lg">

    <div class="card mt-4">
      <div class="card-header">
        <h2 class="text-center">Welcome, {{ user.username }}</h2>
      </div>
      <div class="card-body">
        <h2>Welcome to our store</h2>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">Your Profile</div>
      <div class="card-body">
          <div hx-get="{% url 'profile_detail' %}" hx-trigger="load" hx-target="#profile-container" hx-swap="innerHTML">
              <div id="profile-container">
                  Loading profile...
              </div>
          </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">Your Addresses</div>
      <div class="card-body">
          <div hx-get="{% url 'address_list' %}" hx-trigger="load" hx-target="#address-container" hx-swap="innerHTML">
              <div id="address-container">
                  Loading addresses...
              </div>
          </div>
      </div>
    </div>

  </div>
</main>
{% endblock %}
