{% extends "base/index.html" %}

{% block content %}
<main class="flex-shrink-0 mt-per-10">
    <div class="container">
        <h1 class="mt-5">Welcome to Django Store</h1>
        <h4>This is our Whimsy Emporium!</h4>
        <p class="lead">
            At Whimsy Emporium, we believe that life is better with a dash of laughter and a sprinkle of silliness.
            Step into our magical world of whimsical wonders,
            where every product is designed to bring joy and delight to your day.
        </p>
        <p class="lead">Our products are carefully crafted to ignite your imagination and inspire moments of laughter and delight.
            Whether you're shopping for yourself or searching for the perfect gift for a loved one,
            you're sure to find something magical here at Whimsy Emporium.
        </p>
        <p class="lead">So why wait? Dive into our fantastical world of fun and start spreading smiles today!</p>
        <br>
    </div>
</main>
{% endblock %}